{% extends 'base.html' %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{% block title %}Magaz - Сброс пароля{% endblock title %}
{% block active_reset_password %}active{% endblock active_reset_password %}

{% block content %}

<h1>Сброс пароля</h1>
<hr>
<div class="p-2">
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary rounded submit">Сбросить пароль</button>
    </div>
  </form>
</div>

{% endblock content %}