# зависимости
Django==3.1.4
# библиотка для работы с постгресом 
psycopg2-binary==2.9.3 
# дает функции, связанные с регистрацией пользователя
django-registration==3.2
# для подключение css фреймворка bootstrap 
django-bootstrap5==21.3