{% extends 'base.html' %}



{% block title %}Magaz - О проекте{% endblock title %}
{% block active_about %}active{% endblock active_about %}

{% block content %}

<h1>О проекте</h1>
<hr>
<h3>Описание проекта</h3>
<pre class="text-start">
    1. Технологический стэк:
    1.1 Бэкэнд (серверная часть)
    - Python - язык программирования
    - Django - web-фреймворк, написанный на языке Python
      Дополнительные зависимости Django:
      - psycopg2-binary - библиотека для работы с PostgreSQL
      - django-registration - библиотека предоставляющая функционал регистрации на сайте
      - django-bootstrap5 - библиотека подключающая Bootstrap5
    - PostgreSQL - система управления реляционными базами данных (в облаке, сервис elephantsql.com)
    
    1.2 Фронтэнд (клиентская часть)
    - HTML (HyperText Markup Language) - язык гипертекстовой разметки
    - CSS (Cascading Style Sheets) - каскадные таблицы стилей
    - Bootstrap5 - CSS фреймворк
</pre><br>
<!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit officia vero qui nemo, mollitia veniam expedita optio quasi delectus ea, eum autem nesciunt rem quae exercitationem sunt, unde esse! Officia neque ratione animi nihil explicabo cupiditate, placeat voluptatem impedit aut repellendus reiciendis laboriosam nam eum voluptas veniam nostrum laudantium vel quia consequatur, est tenetur! Nulla nobis accusantium debitis numquam, unde sed voluptas quo. Vel veniam iusto, reiciendis similique eum fuga dolorem cupiditate quas officia ipsam perferendis aspernatur, quidem possimus sit. Itaque officia temporibus assumenda voluptatum maxime exercitationem neque rem, corporis dignissimos. Dolores saepe optio debitis sit praesentium nostrum vel <br></p> -->

{% endblock content %}
