{% extends 'base.html' %}

{% block title %}Magaz - Приемки{% endblock title %}
{% block active_income %}active{% endblock active_income %}

{% block content %}

<h1>Приемки</h1>
<a href="{% url 'add-income' %}" class="btn btn-primary">Принять товар</a>
<hr>

{% if incomes %}
<div class="text-start">
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-center fw-bold">
      Заказ на приемку
      <span>Дата создания</span>
    </li>
    {% for income in incomes %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{% url 'income' %}{{ income.id }}/">{{ income.income_order }}</a>
      <span class="badge bg-primary rounded-pill">{{ income.created }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

{% else %}
<p>Приемок еще не было.</p>
{% endif %}

{% endblock content %}