{% extends 'base.html' %}

{% block title %}Magaz - Приемки{% endblock title %}
{% block active_income %}active{% endblock active_income %}

{% block content %}

<h1>Приемки</h1>
<a href="{% url 'add-income' %}" class="btn btn-primary">Принять товар</a>
<hr>
<div class="p-3 my-3 border">
  <p class="text-start"><b>Заказ на приемку: </b>{{ income.income_order }}</p>
  <p class="text-start"><b>Дата создания: </b>{{ income.created }}</p>
  <p class="text-start"><b>Товар: </b>{{ income.item_id }}</p>
  <p class="text-start"><b>Количество: </b>{{ income.quantity }}</p>
</div>

<div class="p-3 my-3 text-white">
  <a href="{% url 'income' %}">
    <- назад к приемкам</a>
</div>


{% endblock content %}